main {
  background-color: #fff;
  border-radius: 8px;
}
#mainContainer {
  text-align: center;
}
i {
  font-size:12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 4px;
  color: white;
}